{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<header class="site-header">
    <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'performance' %}">Performances</a></li>
            <li><a href="{% url 'stall' %}">Stalls</a></li>
            <li><a href="{% url 'activity' %}">Activities</a></li>
            <li><a href="{% url 'starred_list' %}">Starred Items</a></li>
            <li><a href="{% url 'search_item' %}">Search</a></li>
        </ul>
    </nav>
</header>
<body>
    <br><br><br><br><br>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">LOGIN</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    <br><br><br><br><br><br>
    <footer>
        <div class="container">
            <p>&copy; 2024 Kelantan Tourism Portal. All Rights Reserved.</p>
            <ul class="social-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
